#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:'Times New Roman', Times, serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    background-color: burlywood;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}
.buttons:hover{
    background:  rgb(0, 109, 128);
}
